$title-color: rgba(212, 20, 67, 1);
$second-color: rgba(255, 165, 186, 1);
$text-color: rgba(255, 255, 255, 1);
$description-color: rgba(0, 0, 0, 1);
$second-description-color: rgba(144, 126, 130, 1);
$hero-background-color: rgba(255, 184, 202, 1);
$hero-mobile-background-color: rgba(225, 121, 146, 1);
$mob-menu-background-color: #fe98b1;
$mob-menu-border-color: #ffb5c6;

$modal-background-color: rgb(255, 239, 243);

$product-card-color: rgba(240, 209, 165, 1);
$product-background-card: rgba(194, 226, 151, 1);
$product-background: rgba(255, 245, 246, 1);
$customer-reviews-background: rgba(250, 250, 250, 1);
$repeating-linear-gradient: rgba(225, 225, 225, 1);
$customer-reviews-ellipse: rgba(199, 19, 62, 1);
$customer-reviews-ellipse-background: rgba(217, 217, 217, 1);
$contacts-card-color: rgba(240, 209, 165, 1);
$contacts-background-color: rgba(194, 226, 151, 1);
$footer-background-button: rgba(212, 19, 66, 1);
$font-family: DM Sans, sans-serif;

$font-family-about-label: Titan One, sans-serif;

