<!DOCTYPE html>

<section class="about-section>">
    <div id="about" class="about-section__container">
        <label class="about-section__label" for="about-section_title" id="about-section__label">tradition and love</label>
        <h2 class="about-section__title">how it’s made?</h2>
        <div class="about-section__box">
                <picture class="about-section__picture">
                <source srcset="./images/mob.img/about/home-pic41.webp 1x, ./images/mob.img/about/home-pic41@2x.webp 2x"
                    type="image/webp">
                <source srcset="./images/mob.img/about/home-pic41.png 1x, ./images/mob.img/about/home-pic41@2x.png 2x"
                    type="image/jpeg" />
                <img src="./images/mob.img/about/home-pic41.png" alt="milk" />
            </picture>
            <div class="about-section-text">
                <p class="about-section__paragraph">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam
                vel justo cursus, faucibus lorem eget, egestas eros.
                Maecenas eleifend erat at justo fringilla.</p>
                <p class="about-section__description">Curabitur lacinia enim at ex blandit, vel pellentesque odio
                elementum. Mauris rhoncus orci in imperdiet placerat.
                Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
                <p class="about-section__description">Aliquam erat volutpat. Aenean accumsan.</p>

            
                <button data-modal-open type="submit" class="about-section__button">Read more
                <!-- <svg class="about-section__button-icon">
                    <use href="./images/sprite.svg#icon-button-arrow"></use>
                </svg> -->
                </button>
            </div>
        </div>
    </div>
</section>