<!DOCTYPE html>

<section class="advantage-section">
    <div id="advantages" class="advantage-section__container">
        <h2 class="visually-hidden">Advantages</h2>
        <ul class="advantage-section__list">
            <li class="advantage-section__item advantage-section__icon--first">
                <h3 class="advantage-section__title">721</h3>
                <p class="advantage-section__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantage-section__item advantage-section__icon--second">
                <h3 class="advantage-section__title">16kg</h3>
                <p class="advantage-section__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantage-section__item advantage-section__icon--third">
                <h3 class="advantage-section__title">84</h3>
                <p class="advantage-section__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>