<section class="customer-reviews-section">
    <div class="container">
        <h2 class="customer-reviews-section__title visually-hidden">Customer reviews</h2>
        <article class="customer-reviews">
            <h2 class="customer-reviews__title visually-hidden">Customer reviews about service</h2>
            <picture>
                <source
                    srcset="./images/mob.img/galary/testimonials11.webp 1x, ./images/mob.img/galary/testimonials11@2x.webp 2x"
                    media="(min-width: 480px)" type="image/webp">
                <source
                    srcset="./images/mob.img/galary/testimonials11.png 1x, ./images/mob.img/galary/testimonials11@2x.png 2x"
                    media="(min-width: 480px)">
                <img class="customer-reviews__img" src="./images/mob.img/galary/testimonials11.png" alt="Emily"
                    width="85" />
            </picture>
            <div class="customer-reviews__box">
                <svg class="customer-reviews__icon" width="54px" height="40px">
                    <use href="./images/sprite.svg#icon--1"></use>
                </svg>
                <p class="customer-reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                    Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
            </div>
            <p class="customer-reviews__text-place">Emily, Los Angeles</p>
            <ul class="slider-list">
                <li class="slider-list__item">
                    <svg class="" width="12px" height="12px">
                        <use href="./images/sprite.svg#icon-home"></use>
                    </svg>
                </li>
                <li class="slider-list__item">
                    <svg class="" width="12px" height="12px">
                        <use href="./images/sprite.svg#icon-Ellipse-7"></use>
                    </svg>
                </li>
                <li class="slider-list__item">
                    <svg class="" width="12px" height="12px">
                        <use href="./images/sprite.svg#icon-Ellipse-7"></use>
                    </svg>
                </li>
            </ul>
        </article>
    </div>
</section>