<footer class="footer-section">
    <div class="footer-section-border">
        <div class="container footer-container">
            <div class="footer-name">
                <p class="footer-befor-text">homemade ice cream made</p>
                <h2 class="footer-heading">with passion</h2>
            </div>
            <div class="footer-social-contact">
                <ul class="footer-social-list">
                    <li class="footer-social-item">
                        <a href="" class="footer-social-link">
                            <svg class="footer-social-svg-git">
                                <use href="./images/sprite.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-social-item">
                        <a href="" class="footer-social-link">
                            <svg class="footer-social-svg-tlg">
                                <use href="./images/sprite.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-social-item">
                        <a href="" class="footer-social-link">
                            <svg class="footer-social-svg-fb">
                                <use href="./images/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <p class="footer-tel-text">Feel free to contact <a class="footer-contact-linc"
                        href="tel:+610383766284">+61 (0) 383 766 284</a> </p>
            </div>
        </div>
    </div>
    <div class="footer-information-line">
        <p class="footer-information-text"> © 2019 - IceCream. All Rights Reserved.</p>
    </div>
</footer>