<section class="products-section">
    <div id="products" class="container">
        <p class="title1">100% natural</p>
        <h2 class="title2">Products</h2>
        <ul class="products__list">
            <li class="products__list-item list-container products__list-item-container">
                <h3 class="title3">Ice Cream</h3>
                <!-- ОПИС -->
                <p id="icecream" class="products_list-container-suptitile">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <!-- КНОПКА  -->
                <!-- <button type="button" class="button" onclick="document.location='#icecream'">
                    <svg class="link-button">
                        <use href="./images/sprite.svg#icon-arrow-right"></use>
                    </svg>
                </button> -->
            </li>
            <li class="products__list-item products__list-item-container1 list-container">
                <h3 class="title3">Ice Coffee</h3>
                <!-- ОПИС -->
                <p id="icecoffee" class="products_list-container-suptitile">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <!-- КНОПКА  -->
                <!-- <button type="button" class="button" onclick="document.location='#icecoffee'">
                    <svg class="link-button">
                        <use href="./images/sprite.svg#icon-arrow-right"></use>
                    </svg>
                </button> -->
            </li>
            <li class="products__list-item products__list-item-container2 list-container">
                <h3 class="title3">Milkshakes</h3>
                <!-- ОПИС -->
                <p id="milkshakes" class="products_list-container-suptitile">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <!-- КНОПКА  -->
                <!-- <button type="button" class="button" onclick="document.location='#milkshakes'">
                    <svg class="link-button">
                        <use href="./images/sprite.svg#icon-arrow-right"></use>
                    </svg>
                </button> -->
            </li>
        </ul>
    </div>
</section>